*{
    margin: 0;
    padding: 0;
}

body{
    min-width: 100vh;
}



/* nav  style */
header{
    max-width: 100%;
}


nav{
    max-width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 87px;
}

.menu-button{
    display: none; 
    font-size: 2rem;
    color: black;
}


nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

ul li:nth-child(2){
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: 700;
}



nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width:576px) {


    nav{
        max-width: 100%;
    }

    .menu-button{
        display: block;
    }

    nav ul{
        justify-content: space-evenly;
    }

    .hiddenOnPhone{
        display: none;
    }
    nav {
        padding: 10px;
    }

    ul li:nth-child(2){
        margin-right: 0;
    }
    
}

